.planting {
	overflow: hidden;
	& .questions {
		& .blur {
			filter: blur(150px);
			top: auto;
			bottom: -40px;
			transform: translateX(calc(-50% + 80px)) rotate(-37deg);
			& svg {
				max-width: 615px;
			}
		}
	}
	&-header {
		background: image('planting-img_01.jpg') no-repeat 50% / cover;
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 991px) {
	.planting {
		& .questions {
			& .blur {
				top: -95px;
				bottom: auto;
				left: 50%;
				transform: translateX(calc(-50% + 135px)) rotate(144deg);
				filter: blur(100px);
				& svg {
					max-width: 542px;
				}
			}
		}
	}
}
