.providers-page {
	padding-top: 160px;
	position: relative;
	overflow: hidden;
	& .questions {
		overflow: visible;
		border-top: 1px solid $border-dark-color;
		& .blur {
			top: auto;
			bottom: -176px;
			left: 50%;
			transform: translateX(calc(-50% - 237px)) rotate(-37deg);
			max-width: fit-content;
			max-height: fit-content;
			& svg {
				max-width: 615px;
			}
		}
	}
	& .blur {
		top: 85px;
		left: 50%;
		transform: translateX(calc(-50% + 350px)) rotate(-36deg);
		& svg {
			max-width: 615px;
		}
	}
	&__title {
		margin-bottom: 20px;
	}
	&__wrapper {
		position: relative;
		padding-bottom: 150px;
		& p {
			@include font(1.6rem, calc(24 / 16));
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		& strong {
			font-weight: 600;
		}
		& .image-block {
			margin: 40px 0;
			display: grid;
			grid-template-columns: 100%;
			grid-gap: 30px;
			&.col-3 {
				grid-template-columns: 1fr 1fr 1fr;
			}
			&.col-2 {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.providers-page {
		padding-top: 123px;
		& .blur {
			top: 180px;
			transform: translateX(calc(-50% - 30px)) rotate(144deg);
			opacity: 0.5;
			& svg {
				max-width: 542px;
			}
		}
		& .questions {
			border: none;
			& .questions-content {
				padding-top: 0;
				padding-bottom: 90px;
			}
			& .blur {
				top: auto;
				bottom: 30px;
				transform: translateX(calc(-50% + 66px)) rotate(144deg);
				filter: blur(70px);
				& svg {
					max-width: 542px;
				}
			}
		}
		&__wrapper {
			padding-bottom: 90px;
			& p {
				@include font(1.4rem, calc(21 / 14));
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			& .image-block {
				margin: 30px 0;
				grid-gap: 20px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.providers-page {
		&__wrapper {
			& .image-block {
				& img {
					width: 100%;
				}
				&.col-2,
				&.col-3 {
					grid-template-columns: 100%;
				}
			}
		}
	}
}
