.list {
	& p:first-child {
		margin-bottom: 10px;
	}
	& li {
		padding-left: 15px;
		position: relative;
		@include font(1.6rem, calc(24 / 16));
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		&::before {
			@include before(0, 5px, 5px);
			transform: none;
			top: 10px;
			background: $green-700;
			border-radius: 1px;
		}
	}
	&_numbered {
		& li {
			display: flex;
			position: relative;
			@include font(1.6rem, calc(24 / 16));
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: attr(data-number);
				position: relative;
				margin-right: 11px;
				@include font(1.6rem, calc(24 / 16));
				font-weight: 600;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.list {
		& li {
			@include font(1.4rem, calc(21 / 14));
		}
		&_numbered {
			& li {
				@include font(1.4rem, calc(21 / 14));
				&::before {
					@include font(1.4rem, calc(21 / 14));
				}
			}
		}
	}
}
