.news-article-content {
	padding-bottom: 150px;
	position: relative;
	& .blur {
		top: auto;
		bottom: 356px;
		left: -146px;
		transform: rotate(-37deg);
		filter: blur(190px);
	}
	&__wrapper {
		position: relative;
		& p {
			@include font(1.6rem, calc(24 / 16));
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		& strong {
			font-weight: 600;
		}
		& .list {
			padding-top: 5px;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		& .list_numbered {
			margin: 20px 0;
		}
		& .image-block {
			margin: 50px 0;
			display: grid;
			grid-template-columns: 100%;
			grid-gap: 30px;
			&.col-3 {
				grid-template-columns: 1fr 1fr 1fr;
			}
			&.col-2 {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.news-article-content {
		padding-bottom: 90px;
		& .blur {
			display: none;
		}
		&__wrapper {
			& p {
				@include font(1.4rem, calc(21 / 14));
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			& .list {
				padding: 0;
				margin-bottom: 10px;
			}
			& .list_numbered {
				margin: 10px 0;
			}
			& .image-block {
				margin: 30px 0;
				grid-gap: 20px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.news-article-content {
		&__wrapper {
			& .image-block {
				& img {
					width: 100%;
				}
				&.col-2,
				&.col-3 {
					grid-template-columns: 100%;
				}
			}
		}
	}
}
