.news-article-hero {
	padding-top: 170px;
	position: relative;
	& .blur {
		top: 346px;
		left: 50%;
		transform: translateX(calc(-50% + 205px)) rotate(51deg);
		filter: blur(150px);
	}
}

@media screen and (max-width: 991px) {
	.news-article-hero {
		padding-top: 133px;
		& .blur {
			display: none;
		}
	}
}
