.preparation-info {
	padding-bottom: 125px;
	position: relative;
	& .blur:first-child {
		top: 0;
		left: -95px;
		transform: rotate(51deg);
		& svg {
			max-width: 771px;
		}
	}
	& .blur:nth-child(2) {
		top: auto;
		bottom: 141px;
		right: -130px;
		left: auto;
		transform: rotate(51deg);
		& svg {
			max-width: 771px;
		}
	}
	& .blur:nth-child(3) {
		display: none;
	}
	&-content {
		display: grid;
		grid-gap: 50px;
		&__title {
			margin-bottom: -10px;
			@include font(3.2rem, calc(38 / 32));
		}
		&__wrapper {
			display: grid;
			grid-gap: 30px;
			grid-template-columns: 3.69fr 7.71fr;
		}
		& .agronom-text {
			margin: 0;
		}
	}
}

@media screen and (max-width: 991px) {
	.preparation-info {
		padding-bottom: 90px;
		& .blur:first-child {
			top: -11px;
			left: 50%;
			transform: translateX(calc(-50% + 98px)) rotate(144deg);
			& svg {
				max-width: 542px;
			}
		}
		& .blur:nth-child(2) {
			bottom: 0;
			right: auto;
			left: 50%;
			transform: translateX(calc(-50% - 140px)) rotate(144deg);
			& svg {
				max-width: 542px;
			}
		}
		& .blur:nth-child(3) {
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(calc(-50% + 147px), calc(-50% - 150px)) rotate(144deg);
			& svg {
				max-width: 542px;
			}
		}
		&-content {
			grid-gap: 40px;
			&__title {
				@include font(2.6rem, calc(31 / 26));
			}
			&__wrapper {
				grid-template-columns: 100%;
				grid-gap: 20px;
			}
		}
		&__img {
			order: 1;
		}
	}
}

@media screen and (max-width: 576px) {
	.preparation-info {
		&__img {
			& img {
				width: 100%;
			}
		}
	}
}
